In [1]:
import pandas as pd

import os

In [2]:
print(os.getcwd())

c:\Users\laura\Desktop\PZ\kody

In [2]:
data_230510_00 = pd.read_csv('2023-05-10/part-0-0', sep=';', header=None)
data_230510_00

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,WAWA,8173,BUS,136,8,52.210381,20.984158,2023-05-09 13:10:58,52.210381,20.984158,...,"4,61",118.0,WUT,17.0,16.0,18.0,4108_07_7,4005_05_5,4030_01_1,3142_08_8
1,WAWA,8175,BUS,402,9,52.194553,21.048891,2023-05-09 13:10:58,52.194558,21.048899,...,"0,00",76.0,WUT,14.0,13.0,14.0,3030_03_3,3060_03_3,3030_03_3,3251_04_4
2,WAWA,8177,BUS,172,010,52.182516,21.025766,2023-05-09 13:10:57,52.182516,21.025766,...,"0,81",0.0,WUT,2.0,33.0,3.0,3094_04_4,3094_04_4,3094_01_1,4027_02_2
3,WAWA,8178,BUS,138,7,52.170185,20.995514,2023-05-09 13:10:57,52.170194,20.995537,...,"0,00",0.0,WUT,1.0,47.0,2.0,3267_05_5,3267_04_4,3267_03_3,1043_01_1
4,WAWA,8188,BUS,141,10,52.183411,20.979103,2023-05-09 13:10:56,52.183405,20.979087,...,"0,00",-109.0,WUT,8.0,6.0,8.0,4036_02_2,4084_01_1,4036_02_2,2105_01_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220963,WAWA,3192,TRAM,78,5,52.238663,20.900982,2023-05-09 13:42:29,52.238663,20.900984,...,"0,00",0.0,WUT,1.0,51.0,2.0,5050_12_12,5050_12_12,5035_03_3,1013_06_6
220964,WAWA,3193,TRAM,1,4,52.248657,20.979193,2023-05-09 13:42:28,52.248642,20.979214,...,"0,00",-67.0,WUT,15.0,14.0,16.0,5087_04_4,5086_04_4,5159_03_3,1087_03_3
220965,WAWA,3194,TRAM,26,1,52.252518,21.029482,2023-05-09 13:42:27,52.252518,21.029482,...,"0,65",77.0,WUT,13.0,12.0,14.0,1163_01_1,1003_03_3,7047_02_2,6059_14_14
220966,WAWA,3195,TRAM,24,12,52.244873,21.091154,2023-05-09 13:42:16,52.244873,21.091154,...,"0,91",-6.0,WUT,7.0,6.0,8.0,2009_01_1,2010_03_3,2008_07_7,5161_07_7
220967,WAWA,3196,TRAM,33,15,52.281532,20.923302,2023-05-09 13:42:23,52.281532,20.923302,...,"4,49",787.0,WUT,26.0,25.0,26.0,6027_04_4,6026_04_4,6027_04_4,6059_15_15

In [3]:
data_230510_01 = pd.read_csv('2023-05-10/part-0-1', sep=';', header=None)
data_230510_01

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,WAWA,3199,TRAM,17,8,52.231453,20.999393,2023-05-09 13:42:27,52.231453,20.999393,...,"9,28",237.0,WUT,31.0,30.0,31.0,7002_09_9,7088_03_3,7002_09_9,3254_13_13
1,WAWA,3200,TRAM,33,10,52.243965,20.991762,2023-05-09 13:42:25,52.243965,20.991762,...,"2,97",0.0,WUT,11.0,10.0,11.0,7082_06_6,7085_10_10,7082_06_6,6059_15_15
2,WAWA,3201,TRAM,17,22,52.266850,20.976793,2023-05-09 13:42:28,52.266850,20.976793,...,"11,87",28.0,WUT,2.0,1.0,3.0,6094_03_3,6005_03_3,6039_03_3,3254_12_12
3,WAWA,3202,TRAM,17,7,52.201860,21.000305,2023-05-09 13:42:22,52.201855,21.000322,...,"0,00",255.0,WUT,39.0,38.0,40.0,3237_03_3,3286_03_3,3238_03_3,3254_13_13
4,WAWA,3203,TRAM,9,7,52.218780,20.983400,2023-05-09 13:42:28,52.218780,20.983400,...,"0,37",-2.0,WUT,15.0,14.0,16.0,4003_07_7,4121_03_3,4002_01_1,2014_05_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221305,WAWA,2027,BUS,501,5,52.178070,21.048279,2023-05-09 14:11:05,52.178074,21.048273,...,"0,00",0.0,WUT,1.0,17.0,2.0,3094_03_3,3094_03_3,3094_01_1,7002_27_27
221306,WAWA,2028,BUS,519,8,52.167835,21.084097,2023-05-09 14:11:07,52.167840,21.084085,...,"0,00",0.0,WUT,1.0,23.0,1.0,3044_02_2,3044_08_8,3044_02_2,7002_27_27
221307,WAWA,2034,BUS,522,5,52.159876,21.072876,2023-05-09 14:11:05,52.159877,21.072878,...,"0,00",595.0,WUT,21.0,20.0,22.0,3354_51_51,3353_01_1,3385_03_3,3385_03_3
221308,WAWA,2036,BUS,709,8,52.127494,21.018221,2023-05-09 14:11:05,52.127494,21.018221,...,"1,49",2.0,WUT,21.0,20.0,21.0,3018_02_2,3019_02_2,3018_02_2,3009_18_18
221309,WAWA,2037,BUS,131,12,52.206803,21.048618,2023-05-09 14:11:07,52.206796,21.048619,...,"0,00",-24.0,WUT,8.0,7.0,8.0,3058_54_54,3059_02_2,3058_54_54,7002_25_25

In [4]:
data_230510_010 = pd.read_csv('2023-05-10/part-0-10', sep=';', header=None)
data_230510_010

C:\Users\laura\AppData\Local\Temp\ipykernel_27576\2735978807.py:1: DtypeWarning: Columns (1,4,38) have mixed types. Specify dtype option on import or set low_memory=False.
  data_230510_010 = pd.read_csv('2023-05-10/part-0-10', sep=';', header=None)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,WAWA,1535,BUS,N34,162,52.188420,20.996265,2023-05-09 22:54:32,52.188420,20.996265,...,"1,22",0.0,WUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,WAWA,1536,BUS,166,7,52.263768,21.046456,2023-05-09 22:54:22,52.263768,21.046456,...,"2,51",0.0,WUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WAWA,1538,BUS,N12,123,52.264560,21.048078,2023-05-09 22:54:25,52.264560,21.048078,...,"0,00",0.0,WUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,WAWA,1540,BUS,173,6,52.263755,21.047223,2023-05-09 22:54:28,52.263755,21.047223,...,"0,00",0.0,WUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WAWA,1542,BUS,N12,129,52.264072,21.047777,2023-05-09 22:54:32,52.264072,21.047777,...,"4,35",0.0,WUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380790,WAWA,4245,BUS,N01,4,52.180122,21.002167,2023-05-10 02:48:25,52.180122,21.002167,...,"13,58",-59.0,WUT,63.0,62.0,63.0,3243_01_1,3242_01_1,3243_01_1,3120_06_6
380791,WAWA,4306,BUS,N72,219,52.190741,21.140192,2023-05-10 02:48:24,52.190741,21.140192,...,"11,34",111.0,WUT,40.0,39.0,40.0,2194_01_1,2193_01_1,2194_01_1,2870_01_1
380792,WAWA,4312,BUS,N25,1,52.210813,21.167579,2023-05-10 02:48:25,52.210813,21.167579,...,"10,73",2.0,WUT,35.0,34.0,35.0,2027_01_1,2026_01_1,2027_01_1,2032_01_1
380793,WAWA,4316,BUS,N72,215,52.225663,21.074797,2023-05-10 02:48:25,52.225663,21.074797,...,"12,11",194.0,WUT,63.0,62.0,63.0,2143_02_2,2144_02_2,2143_02_2,7002_25_25
380794,WAWA,4322,BUS,N03,4,52.293421,21.000106,2023-05-10 02:48:21,52.293421,21.000106,...,"3,87",-41.0,WUT,55.0,54.0,55.0,1013_02_2,1013_09_9,1013_02_2,1947_06_6

In [10]:
for i in range(50):
    print(data_230510_00[i][0])

WAWA
8173
BUS
136
8
52.2103808
20.984158
2023-05-09 13:10:58
52.2103808
20.984158
MOVING
4.614182288606385
118.0
4108-Banacha
2023-05-09 13:09:00
4108-Banacha
21.452960447045538
20.984472
52.210395
4005-Bitwy Warszawskiej 1920 r.
52.210586
20.977586
448.3712524358676
2023-05-09 13:10:58
2023-05-09 13:10:58
4030-Banacha-Szpital
52.209624
20.987418
237.53227381147167
2023-05-09 13:10:00
136_8_36_1247
Natolin Płn.
2023-05-09 12:47:00-2023-05-09 13:51:00
SAFE
2023-05-09 13:10:58
2023-05-10T00:00:01.461
False
False
nan
True
4,61
118.0
WUT
17.0
16.0
18.0
4108_07_7
4005_05_5
4030_01_1
3142_08_8